<app-header></app-header>

<div class="px-[10px]">
    <div class="flex w-full mt-[120px]  gap-[10px]">
        <div class="w-[240px]">
            <app-sidebar></app-sidebar>
        </div>
        <div class="font-poppins min-w-[calc(100% - 280px)] w-full ml-1 rounded-md bg-[#ffff] font-poppins">
            <div class="mt-10 w-[80%] m-auto">
                <div class="header">
                    <h1 class="text-[24px]"> <span class="font-semibold">Self-Study Platform - </span> Student Admission
                        Form </h1>
                    <div class="pt-4 flex  gap-2 justify-start">
                        <p class="w-3 mt-1 h-4 text-center bg-[#8C2036] rounded-t-full rounded-b-full"></p>
                        <p class="text-[16px]">Welcome to Westford Uni-Online! We are excited to have you join our
                            self-study platform, designed to provide flexible and personalized learning experiences. To
                            get started, please complete the following admission form. This form will help us gather the
                            necessary information to tailor your educational journey and ensure a smooth enrollment
                            process.</p>
                    </div>
                </div>
                <div class="mt-10 tabs justify-center flex items-center gap-1">
                    <div
                        class="h-[55px] w-[55px] cursor-pointer rounded-[50%] border border-[#DFDFDF] text-black text-center flex justify-center items-center text-[34px]">
                        1</div>
                    <div class="w-[80px] h-[5px] mt-10 rounded-r-full rounded-l-full bg-black"></div>

                    <div
                        class="h-[55px] cursor-pointer w-[55px] rounded-[50%] bg-[#DE4A2C] text-white text-center flex justify-center items-center text-[34px]">
                        2</div>
                </div>

                <div class="mt-10 border border-[#E6E6E6] rounded-t-[10px] mb-5">
                    <h1 class="text-[24px] pl-5 pt-5 pb-2">Declaration</h1>
                    <p class="w-[98%] m-auto h-[1px] bg-[#E6E6E6]"></p>
                

                <p class="w-[90%] m-auto text-[#6D6D6D] mt-5">I hereby certify that the information provided in this
                    form is correct and complete. I understand that providing false information will invalidate this
                    application. I authorize Westford University College or their appointed agents to obtain and verify
                    the information contained in this application with any schools, colleges, universities, employers,
                    or other relevant bodies. Westford University College reserves the right to reject this application
                    at their discretion without providing reasons.</p>
                <p class="w-[90%] m-auto text-[#6D6D6D] mt-5">I hereby certify that the information provided in this
                    form is correct and complete. I understand that providing false information will invalidate this
                    application. I authorize Westford University College or their appointed agents to obtain and verify
                    the information contained in this application with any schools, colleges, universities, employers,
                    or other relevant bodies. Westford University College reserves the right to reject this application
                    at their discretion without providing reasons.</p>
                <p class="w-[90%] m-auto text-[#6D6D6D] mt-5">I hereby certify that the information provided in this
                    form is correct and complete. I understand that providing false information will invalidate this
                    application. I authorize Westford University College or their appointed agents to obtain and verify
                    the information contained in this application with any schools, colleges, universities, employers,
                    or other relevant bodies. Westford University College reserves the right to reject this application
                    at their discretion without providing reasons.</p>
                <p class="w-[90%] m-auto text-[#6D6D6D] mt-5">I hereby certify that the information provided in this
                    form is correct and complete. I understand that providing false information will invalidate this
                    application. I authorize Westford University College or their appointed agents to obtain and verify
                    the information contained in this application with any schools, colleges, universities, employers,
                    or other relevant bodies. Westford University College reserves the right to reject this application
                    at their discretion without providing reasons.</p>
                <p class="w-[90%] m-auto text-[#6D6D6D] mt-5">I hereby certify that the information provided in this
                    form is correct and complete. I understand that providing false information will invalidate this
                    application. I authorize Westford University College or their appointed agents to obtain and verify
                    the information contained in this application with any schools, colleges, universities, employers,
                    or other relevant bodies. Westford University College reserves the right to reject this application
                    at their discretion without providing reasons.</p>
                <div class="w-[90%] m-auto mt-10 flex justify-between">
                    <div class="">
                        <div>
                            <label for="firstname"
                                class="block mb-2 text-sm font-medium text-gray-900 ">First Name
                                <span class="text-red-600">*</span></label>
                            <input type="text" id="firstname"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter your first name" required />
                        </div>
                    </div>
                    <div class="">
                        <div>
                            <label for="firstname"
                                class="block mb-2 text-sm font-medium text-gray-900 ">Last Name <span
                                    class="text-red-600">*</span></label>
                            <input type="text" id="firstname"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter your last name" required />
                        </div>
                    </div>
                </div>

                <div class="w-[90%] m-auto mt-10 flex justify-between mb-10">
                    <button class="flex gap-4 items-center border-2 border-[#E6E6E6] px-10 py-2 rounded-full">
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.236172 8.49844L8.72219 15.8099C8.86378 15.9319 9.0519 16 9.24752 16C9.44314 16 9.63126 15.9319 9.77285 15.8099L9.78199 15.8016C9.85087 15.7424 9.90571 15.6712 9.94319 15.5923C9.98067 15.5133 10 15.4283 10 15.3424C10 15.2565 9.98067 15.1715 9.94319 15.0925C9.90571 15.0136 9.85087 14.9424 9.78199 14.8832L1.79085 7.99862L9.78199 1.11681C9.85087 1.05764 9.90571 0.986415 9.94319 0.907473C9.98067 0.82853 10 0.743518 10 0.657608C10 0.571698 9.98067 0.486686 9.94319 0.407743C9.90571 0.328801 9.85087 0.257579 9.78199 0.198408L9.77285 0.190145C9.63126 0.0680895 9.44314 0 9.24752 0C9.0519 0 8.86378 0.0680895 8.72219 0.190145L0.236172 7.50156C0.16154 7.56586 0.102126 7.64319 0.0615295 7.72887C0.0209332 7.81455 0 7.90679 0 8C0 8.09321 0.0209332 8.18545 0.0615295 8.27113C0.102126 8.35681 0.16154 8.43415 0.236172 8.49844Z"
                                fill="#232725" />
                        </svg>
                        Back
                    </button>

                    <button class="flex gap-4 items-center bg-[#8C2036]  px-10 py-2 rounded-full text-white" (click)="openPopup2()">
                        Submit
                        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9.76383 8.49844L1.27781 15.8099C1.13622 15.9319 0.948103 16 0.752481 16C0.556858 16 0.368743 15.9319 0.22715 15.8099L0.218013 15.8016C0.149133 15.7424 0.094286 15.6712 0.0568066 15.5923C0.0193272 15.5133 0 15.4283 0 15.3424C0 15.2565 0.0193272 15.1715 0.0568066 15.0925C0.094286 15.0136 0.149133 14.9424 0.218013 14.8832L8.20915 7.99862L0.218013 1.11681C0.149133 1.05764 0.094286 0.986415 0.0568066 0.907473C0.0193272 0.82853 0 0.743518 0 0.657608C0 0.571698 0.0193272 0.486687 0.0568066 0.407743C0.094286 0.328801 0.149133 0.257578 0.218013 0.198408L0.22715 0.190145C0.368743 0.0680895 0.556858 0 0.752481 0C0.948103 0 1.13622 0.0680895 1.27781 0.190145L9.76383 7.50156C9.83846 7.56586 9.89787 7.64319 9.93847 7.72887C9.97907 7.81455 10 7.90679 10 8C10 8.09321 9.97907 8.18545 9.93847 8.27113C9.89787 8.35681 9.83846 8.43415 9.76383 8.49844Z"
                                fill="white" />
                        </svg>

                    </button>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" *ngIf="showPopup2">
    <div class="relative bg-white rounded-lg shadow-lg w-[557px] ">
        <button class="absolute top-0 left-[104%] text-gray-400 hover:text-gray-600 focus:outline-none"
            (click)="handleCancel2()" aria-label="Close">
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 10L27 27M10 27L27 10" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <circle cx="18.5" cy="18.5" r="17.5" stroke="white" stroke-width="2" />
            </svg>
        </button>
        <h2 class="font-bold mt-10 w-full bg-[#1C2745] text-white pl-10 text-[44px]">Heads-Up</h2>
        <div class="flex gap-4 items-center pl-10 mt-4">
            <p class="w-1 h-5 rounded-t-full rounded-b-full bg-[#1C2745]"></p>
            <p class="text-[24px]">Confirm Submission</p>
        </div>
        <div class="pl-10 mt-4">
            <p class="text-[#535353] text-[16px] pr-12">You are about to submit your quiz. Please review your answers before submitting, as you won't be able to make changes afterward.</p>
        </div>

        <div class="pl-10 mt-4">
            <p class="text-[#535353] text-[16px] pr-12">Would you like to continue?</p>
        </div>

        <div class="w-full flex justify-center mt-10 mb-10 gap-7">
            <button class="px-5 py-3 border border-[#1C2745] rounded-full text-[#1C2745]">Yes, Submit</button>
            <button class="px-5 py-3 bg-[8C2036] rounded-full text-white bg-[#1C2745]">No, Review Answers</button>
        </div>

    </div>
</div>

<app-footer></app-footer>