<div class="w-full h-[500px]">
    <p class="font-normal text-[20px] my-[15px]">Your Academic Journey</p>
    <!-- new -->
    <div style="display: none;"
      class="w-full relative flex flex-col gap-2 h-[460px] pb-[10px] pt-[20px] bg-white rounded-lg"
    >
    <div class="pl-[20px] pt-2">
      <h2 class="font-semibold text-xl">Get ready
       </h2>
       <p> to explore, learn, and achieve your goals!</p>
    </div>
    <div class="nerd-img">

    </div>
      <div class="h-[130px] relative">
        <div style="top: 45px;" class="side-details">
         
          <div class="cl-2">
            <p>Start Learning</p>
            <svg
              width="10"
              height="16"
              viewBox="0 0 10 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.76383 8.49844L1.27781 15.8099C1.13622 15.9319 0.948103 16 0.752481 16C0.556858 16 0.368743 15.9319 0.22715 15.8099L0.218013 15.8016C0.149133 15.7424 0.094286 15.6712 0.0568066 15.5923C0.0193272 15.5133 0 15.4283 0 15.3424C0 15.2565 0.0193272 15.1715 0.0568066 15.0925C0.094286 15.0136 0.149133 14.9424 0.218013 14.8832L8.20915 7.99862L0.218013 1.11681C0.149133 1.05764 0.094286 0.986415 0.0568066 0.907473C0.0193272 0.82853 0 0.743518 0 0.657608C0 0.571698 0.0193272 0.486687 0.0568066 0.407743C0.094286 0.328801 0.149133 0.257578 0.218013 0.198408L0.22715 0.190145C0.368743 0.0680895 0.556858 0 0.752481 0C0.948103 0 1.13622 0.0680895 1.27781 0.190145L9.76383 7.50156C9.83846 7.56586 9.89787 7.64319 9.93847 7.72887C9.97907 7.81455 10 7.90679 10 8C10 8.09321 9.97907 8.18545 9.93847 8.27113C9.89787 8.35681 9.83846 8.43415 9.76383 8.49844Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="h-[100px] ">
          <ol class="pl-[20px] h-full   flex-col justify-around">
            <li class="text-[13px]">
              <span class="red-ball"></span>
              <span class="">Once you enroll in your first course, you'll see it listed here with real-time updates on your progress.</span>
            </li>
          
          </ol>
        </div>
      </div>
    </div>
    <!-- old -->
    <div 
      class="w-full  relative flex flex-col justify-between h-[460px] pb-[10px] pt-[20px] bg-white rounded-lg"
    >
      <div class="pg-bar bg-green-500">
        <p>Progress</p>
      </div>
      <div class="bg-[var(--db)] h-[50px] flex items-center pl-[20px]">
        <p class="text-white text-[20px] font-semibold">Diploma</p>
      </div>
      <div class="flex items-center h-[60px] gap-[4px] pl-[20px]">
        <span
          class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--ma)]"
        ></span>
        <p class="text-[14px] font-semibold">
          Diploma in Digital Marketing (WUC Level 8)
        </p>
      </div>
      <div class="h-[130px]">
        <img src="teacher.png" class="h-full w-full object-contain" alt="" srcset="" />
      </div>
      <div class="h-[160px] relative">
        <div class="side-details">
          <div class="usd">
            <p>1000 USD</p>
          </div>
          <div class="cl">
            <p>Continue Learning</p>
            <svg
              width="10"
              height="16"
              viewBox="0 0 10 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.76383 8.49844L1.27781 15.8099C1.13622 15.9319 0.948103 16 0.752481 16C0.556858 16 0.368743 15.9319 0.22715 15.8099L0.218013 15.8016C0.149133 15.7424 0.094286 15.6712 0.0568066 15.5923C0.0193272 15.5133 0 15.4283 0 15.3424C0 15.2565 0.0193272 15.1715 0.0568066 15.0925C0.094286 15.0136 0.149133 14.9424 0.218013 14.8832L8.20915 7.99862L0.218013 1.11681C0.149133 1.05764 0.094286 0.986415 0.0568066 0.907473C0.0193272 0.82853 0 0.743518 0 0.657608C0 0.571698 0.0193272 0.486687 0.0568066 0.407743C0.094286 0.328801 0.149133 0.257578 0.218013 0.198408L0.22715 0.190145C0.368743 0.0680895 0.556858 0 0.752481 0C0.948103 0 1.13622 0.0680895 1.27781 0.190145L9.76383 7.50156C9.83846 7.56586 9.89787 7.64319 9.93847 7.72887C9.97907 7.81455 10 7.90679 10 8C10 8.09321 9.97907 8.18545 9.93847 8.27113C9.89787 8.35681 9.83846 8.43415 9.76383 8.49844Z"
                fill="white"
              />
            </svg>
          </div>
          <p class="mr-[10px]">More Details</p>
        </div>
        <div class="h-full">
          <ol class="pl-[20px] h-full flex flex-col justify-around">
            <li class="text-[13px]">
              <span class="red-ball"></span>Duration :
              <span class="font-semibold">3 Months</span>
            </li>
            <li class="text-[13px]">
              <span class="red-ball"></span>Start date :
              <span class="font-semibold">01/2024</span>
            </li>
            <li class="text-[13px]">
              <span class="red-ball"></span>End Date :
              <span class="font-semibold">-</span>
            </li>
            <li class="text-[13px]">
              <span class="red-ball"></span>Credits Earned :
              <span class="font-semibold">30</span>
            </li>
            <li class="text-[13px] flex items-center">
              <span class="red-ball"></span>Course Earned :
              <span class="font-semibold">
                <div class="relative size-8">
                  <svg
                    class="size-full -rotate-90"
                    viewBox="0 0 36 36"
                    xmlns="http://www.w3.org/2000/svg"
                  >
               
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-gray-200 dark:text-neutral-700"
                      stroke-width="2"
                    ></circle>
                  
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-green-600 dark:text-green-500"
                      stroke-width="2"
                      stroke-dasharray="100"
                      stroke-dashoffset="65"
                      stroke-linecap="round"
                    ></circle>
                  </svg>

                
                  <div
                    class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  >
                    <span
                      class="text-center text-[12px] font-bold text-green-600 dark:text-green-500"
                      >70%</span
                    >
                  </div>
                </div>
              </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>