<app-header></app-header>


<div class="px-[10px]">
    <div class="flex w-full mt-[120px]  gap-[10px]">
        <div class="w-[240px]">
            <app-sidebar></app-sidebar>
        </div>
        <div class="min-w-[calc(100%-280px)] mt-[10px] ml-1 rounded-md bg-[#ffff]">
            <basic-personal-info></basic-personal-info>

            <!-- persional info -->



            <!--Academic History  -->
            <academic-history></academic-history>

            <!-- Professional History   -->
            <professional-history></professional-history>


            <div class="float-right mr-8 mb-5">
                <button type="button" class="border border-[#E6E6E6] px-7 py-1 rounded-[50px] mr-5">Cancel</button>
                <button type="button" class="bg-[#8C2036] px-5 py-1 rounded-[50px] text-[white]"> Save Changes</button>
            </div>

        </div>


    </div>
</div>
<app-footer></app-footer>