<app-header></app-header>


<div class="px-[10px]">
    <div class="flex w-full mt-[120px]  gap-[10px]">
        <div class="w-[240px]">
            <app-sidebar></app-sidebar>
        </div>
        <div class="min-w-[calc(100%-280px)] mt-[10px] ml-1 rounded-md bg-[#ffff]">
            <basic-personal-info></basic-personal-info>

            <!-- persional info -->
           


            <!--Academic History  -->
            <academic-history></academic-history>

             <!-- Professional History   -->
             <professional-history></professional-history>




        </div>


    </div>
</div>
<app-footer></app-footer>