<div id="Overview">
    <h2 class="font-semibold my-[5px] text-black text-[16px]">
      Instructor <span class="font-light">Info</span>
    </h2>
    <div class="flex h-[80px] items-center gap-5">
      <div>
        <img class="h-[60px]" src="profile.svg" alt="" srcset="" />
      </div>
      <div class="flex items-start justify-evenly flex-col">
        <p class="font-semibold text-[14px]">Volga Jaden</p>
        <p class="font-light text-[14px] text-gray-400">
          Business Strategy Consultant Digital Marketing Lecturer
        </p>
      </div>
    </div>
    <h2 class="font-semibold my-[5px] text-black text-[16px]">
      Course <span class="font-light">Details</span>
    </h2>
    <div class="m-2">
      <p class="text-[14px]">
        The Diploma in Business Management offered by Westford
        University College is a level 8 program, comprising three
        modules worth 20 credit points each, totaling 60 credit points.
        The program, completed in three months, prepares learners for a
        bachelor's degree with potential module exemptions. It covers
        key management, operation, human resources, IT, and marketing
        concepts, providing a thorough understanding of organizational
        operations and their impact on growth. <br />
        This diploma addresses industry requirements, equipping learners
        with in-demand skills and knowledge of management roles,
        marketing strategies, and operations management. Delivered 100%
        online in a synchronous format, it allows students to connect
        with faculty and study from anywhere. Upon completion, learners
        receive a diploma awarded by Westford University College.
      </p>
    </div>
    <div class="h-[80px] flex justify-evenly items-center">
      <div
        class="h-[40px] w-[200px] bg-gray-200 justify-center flex items-center rounded-[30px]"
      >
        <span class="red-ball"></span>
        <p class="text-[14px]">
          Duration:
          <span class="font-semibold text-[var(--or)]">3 Months</span>
        </p>
      </div>
      <div
        class="h-[40px] w-[200px] bg-gray-200 justify-center flex items-center rounded-[30px]"
      >
        <span class="red-ball"></span>
        <p class="text-[14px]">
          Credits:
          <span class="font-semibold text-[var(--or)]">45</span>
        </p>
      </div>
      <div
        class="h-[40px] w-[200px] bg-gray-200 justify-center flex items-center rounded-[30px]"
      >
        <span class="red-ball"></span>
        <p class="text-[14px]">
          Modules:
          <span class="font-semibold text-[var(--or)]">2</span>
        </p>
      </div>
      <div
        class="h-[40px] w-[200px] bg-gray-200 justify-center flex items-center rounded-[30px]"
      >
        <span class="red-ball"></span>
        <p class="text-[14px]">
          Level:
          <span class="font-semibold text-[var(--or)]"
            >SCQF Level 8</span
          >
        </p>
      </div>
    </div>
    <div
      class="w-full flex items-center  h-[200px] bg-[#f5f5f5]"
    >
      <div class="h-[85%] w-[50%] pl-[20%] flex flex-col justify-evenly">
        <h2 class="font-semibold my-[5px] text-black text-[20px]">
          Average <span class="font-light">rating</span>
        </h2>
        <div class="flex items-center">
          <h1 class="text-[35px] font-bold">4.5</h1>
          <svg
            width="25"
            height="20"
            viewBox="0 0 33 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4244 0L20.1365 11.4246H32.149L22.4307 18.4854L26.1427 29.9099L16.4244 22.8491L6.7061 29.9099L10.4182 18.4854L0.699847 11.4246H12.7124L16.4244 0Z"
              fill="#FEBB35"
            />
          </svg>
          <svg
            width="25"
            height="20"
            viewBox="0 0 33 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4244 0L20.1365 11.4246H32.149L22.4307 18.4854L26.1427 29.9099L16.4244 22.8491L6.7061 29.9099L10.4182 18.4854L0.699847 11.4246H12.7124L16.4244 0Z"
              fill="#FEBB35"
            />
          </svg>
          <svg
            width="25"
            height="20"
            viewBox="0 0 33 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4244 0L20.1365 11.4246H32.149L22.4307 18.4854L26.1427 29.9099L16.4244 22.8491L6.7061 29.9099L10.4182 18.4854L0.699847 11.4246H12.7124L16.4244 0Z"
              fill="#FEBB35"
            />
          </svg>
          <svg
            width="25"
            height="20"
            viewBox="0 0 33 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4244 0L20.1365 11.4246H32.149L22.4307 18.4854L26.1427 29.9099L16.4244 22.8491L6.7061 29.9099L10.4182 18.4854L0.699847 11.4246H12.7124L16.4244 0Z"
              fill="#FEBB35"
            />
          </svg>
          <svg
            width="25"
            height="20"
            viewBox="0 0 33 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4244 0L20.1365 11.4246H32.149L22.4307 18.4854L26.1427 29.9099L16.4244 22.8491L6.7061 29.9099L10.4182 18.4854L0.699847 11.4246H12.7124L16.4244 0Z"
              fill="#FEBB35"
            />
          </svg>
        </div>
        <p class="text-gray-400 text-[12px]">
          Average Rating on this year
        </p>
      </div>
      <svg width="2" height="140" viewBox="0 0 2 177" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.637695 1L0.637703 176" stroke="#B7B7B7" stroke-linecap="round"/>
        </svg>
        
      <div class="h-[85%]  px-[10%] flex flex-col justify-evenly w-[50%]">
        <div class="flex items-center gap-[5px] h-[25px] w-full">
          <svg
            width="15"
            class="min-h-[15px] min-w-[15px]"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <p class="text-[14px]">5</p>
          <span
            class="inline-block h-[8px] w-[100%] rounded-2xl bg-[var(--or)]"
          ></span>
          <p class="text-[14px]">2.5k</p>
        </div>
        <div class="flex items-center gap-[5px] h-[25px] w-[90%]">
          <svg
            width="15"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <p class="text-[14px]">4</p>
          <span
            class="inline-block h-[8px] w-[70%] rounded-2xl bg-[var(--db)]"
          ></span>
          <p class="text-[14px]">1.5k</p>
        </div>
        <div class="flex items-center gap-[5px] h-[25px] w-[90%]">
          <svg
            width="15"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <p class="text-[14px]">3</p>
          <span
            class="inline-block h-[8px] w-[60%] rounded-2xl bg-[var(--ma)]"
          ></span>
          <p class="text-[14px]">1k</p>
        </div>
        <div class="flex items-center gap-[5px] h-[25px] w-[90%]">
          <svg
            width="15"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <p class="text-[14px]">2</p>
          <span
            class="inline-block h-[8px] w-[40%] rounded-2xl bg-[var(--gr)]"
          ></span>
          <p class="text-[14px]">1k</p>
        </div>
        <div class="flex items-center gap-[5px] h-[25px] w-[90%]">
          <svg
            width="15"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <p class="text-[14px]">1</p>
          <span
            class="inline-block h-[8px] w-[20%] rounded-2xl bg-[var(--db)]"
          ></span>
          <p class="text-[14px]">0.5k</p>
        </div>
      </div>
    </div>
    <div class="flex  my-[20px] h-[200px] items-center gap-5">
      <div>
        <img
          class="h-[110px] mb-[35px]"
          src="profile.svg"
          alt=""
          srcset=""
        />
      </div>
      <div class="flex items-start justify-evenly flex-col w-full">
        <h2 class="font-semibold my-[5px] text-black text-[20px]">
          Write <span class="font-light">your Review/Feedback</span>
        </h2>
        <textarea style="background-color: #f5f5f5 !important;"
          type="text"
          class="bg-[#f5f5f5] rounded-2xl w-[95%] h-[80px]"
        >
        </textarea>
        <div class="flex h-8 gap-2 items-center">
          <p class="text-[14px] ">Rate this course</p>
          <div class="flex items-center">
            <svg
            width="15"
            class="min-h-[15px] min-w-[15px]"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <svg
            width="15"
            class="min-h-[15px] min-w-[15px]"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <svg
            width="15"
            class="min-h-[15px] min-w-[15px]"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <svg
            width="15"
            class="min-h-[15px] min-w-[15px]"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          <svg
            width="15"
            class="min-h-[15px] min-w-[15px]"
            height="15"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
              fill="#B7B7B7"
            />
          </svg>
          </div>
        </div>
        <div class="flex w-full items-center justify-between">
          <div>
            <input class="accent-slate-300" id="ck" type="checkbox" />
            <label class="text-[14px] ml-2" for="ck"
              >I give my consent to have my feedback published on the
              portal</label
            >
          </div>
          <div>
            <button
              class="rounded-2xl h-[40px] w-[80px] text-center border border-black text-[14px]"
            >
              cancel
            </button>
            <button
              class="rounded-2xl mx-4 h-[40px] w-[80px] text-center border bg-[var(--ma)] text-[14px] text-white border-black"
            >
              submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <h2 class="font-semibold my-[5px] text-black text-[20px]">
      Students <span class="font-light"> Review</span>
    </h2>
    <div class="flex my-[20px] min-h-[100px] items-center gap-5">
      <div>
        <img
          class="h-[80px] mb-[35px]"
          src="profile.svg"
          alt=""
          srcset=""
        />
      </div>
      <div class="flex items-start justify-evenly flex-col w-full">
        <div class="flex items-center gap-[15px]">
          <p class="text-[14px] font-semibold">Jessica Harris</p>
          <div class="flex items-center">
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
          </div>
          <p class="text-[14px] font-light">May 9/2024</p>
        </div>
        <p class="my-[15px]">
          This 3-month diploma provided an in-depth understanding of
          digital marketing strategies. The modules were
          well-structured, and the practical assignments were incredibly
          beneficial.
        </p>
      </div>
    </div>
    <div class="flex my-[20px] min-h-[100px] items-center gap-5">
      <div>
        <img
          class="h-[80px] mb-[35px]"
          src="profile.svg"
          alt=""
          srcset=""
        />
      </div>
      <div class="flex items-start justify-evenly flex-col w-full">
        <div class="flex items-center gap-[15px]">
          <p class="text-[14px] font-semibold">Jessica Harris</p>
          <div class="flex items-center">
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
            <svg
              width="15"
              class="min-h-[15px] min-w-[15px]"
              height="15"
              viewBox="0 0 18 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.68021 0.491333L10.7104 6.73956L17.2801 6.73956L11.9651 10.6012L13.9953 16.8494L8.68021 12.9878L3.36515 16.8494L5.39532 10.6012L0.080267 6.73956L6.65004 6.73956L8.68021 0.491333Z"
                fill="#B7B7B7"
              />
            </svg>
          </div>
          <p class="text-[14px] font-light">May 9/2024</p>
        </div>
        <p class="my-[15px]">
          This 3-month diploma provided an in-depth understanding of
          digital marketing strategies. The modules were
          well-structured, and the practical assignments were incredibly
          beneficial.
        </p>
      </div>
    </div>
    <div class="w-full flex h-[80px] items-center justify-center">
      <button
        class="rounded-2xl mx-4 h-[40px] w-[120px] text-center border bg-[var(--ma)] text-[14px] text-white border-black"
      >
        View more
      </button>
    </div>
  </div>