<app-header></app-header>
<div class="px-[10px]">
  <div class="flex w-full mt-[110px] gap-[15px]">
    <div class="min-w-[240px]">
      <app-sidebar></app-sidebar>
    </div>
    <div class="min-w-[calc(100% - 280px)] w-full mt-[12px]">
      <!-- cards-container  upper section-->
      <section class="w-full flex gap-[10px]">
        <div
          class="w-[70%] h-full box-content pb-[20px] bg-white rounded-lg px-[10px]"
        >
          <h2 class="font-semibold my-[5px] text-black text-[20px]">
            Diploma <span class="font-light"> in Business Management</span>
          </h2>
          <div class="flex items-center justify-between pr-[10px]">
            <div class="flex items-center h-[60px] gap-[4px]">
              <span
                class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--ma)]"
              ></span>
              <p class="text-[14px] font-semibold">Introduction</p>
            </div>

            <div class="flex items-center">
              <span class="red-ball"> </span>
              <p>Due Date : <span class="font-semibold">TBD</span></p>
            </div>
          </div>
          <div
            class="w-full relative h-[300px] rounded-md bg-black flex items-center justify-center"
          > 
          <div class="w-[150px]  right-0 top-4 text-[12px] h-[30px] justify-center absolute bg-[#1C2745] flex items-center gap-2 rounded-l-3xl text-white">Skip Intro & Enroll <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.81106 6.90498L1.02225 12.8455C0.908977 12.9447 0.758483 13 0.601985 13C0.445487 13 0.294995 12.9447 0.18172 12.8455L0.174411 12.8388C0.119307 12.7907 0.0754294 12.7328 0.0454459 12.6687C0.0154624 12.6046 4.76837e-07 12.5355 4.76837e-07 12.4657C4.76837e-07 12.3959 0.0154624 12.3268 0.0454459 12.2627C0.0754294 12.1985 0.119307 12.1407 0.174411 12.0926L6.56732 6.49888L0.174411 0.907407C0.119307 0.859331 0.0754294 0.801462 0.0454459 0.737322C0.0154624 0.673181 4.76837e-07 0.604109 4.76837e-07 0.534307C4.76837e-07 0.464505 0.0154624 0.395432 0.0454459 0.331292C0.0754294 0.267151 0.119307 0.209282 0.174411 0.161206L0.18172 0.154493C0.294995 0.0553226 0.445487 0 0.601985 0C0.758483 0 0.908977 0.0553226 1.02225 0.154493L7.81106 6.09502C7.87077 6.14726 7.9183 6.21009 7.95078 6.2797C7.98325 6.34932 8 6.42427 8 6.5C8 6.57574 7.98325 6.65068 7.95078 6.7203C7.9183 6.78991 7.87077 6.85274 7.81106 6.90498Z" fill="white"/>
            </svg>
            </div>
            <img
              class="h-full"
              src="vid.png"
              alt=""
              srcset=""
            />
          </div>
          <div class="title-cards">
            @for (item of titles; track $index) {
              <p (click)="changeTab(item)" [class.active-title]="tab == item" >
                {{item}}
                <span></span>
              </p>
            }
           
       
          </div>
          @if (tab == 'Overview') {
            <app-overview></app-overview>
          } @if(tab=='Essential Reading'){
            <app-essential-reading></app-essential-reading>
          } @if(tab=="Assignment Status"){
            <app-assignment-status></app-assignment-status>
          } @if(tab=="Certificates"){
            <app-module></app-module>
          }
        </div>
        <app-notes-and-observations class="w-[30%]" ></app-notes-and-observations>
     
        
      </section>
      <!-- course box lower section -->
    </div>
  </div>
</div>
<app-footer></app-footer>