.title-cards {
    display: flex;
    align-items: center;
    height: 70px;
}
.title-cards p {
    height: 40px;
    position: relative;
    box-sizing: content-box;
    align-items: center;
    display: flex;
    font-size: 15px;
    border-right: 1px solid #5352523d;
    padding: 0 10px;
    cursor: pointer;
}
.title-cards p span {
    position: absolute;
    bottom: 0; /* Stick to the bottom of the parent <p> */
    left: 50%; /* Start positioning from the center */
    transform: translateX(-50%); /* Center horizontally */
    width: calc(100% - 50px); /* Adjust width for padding */
    height: 4px;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.3s ease; /* Smooth animation for the underline */
}
.title-cards p.active-title {
    border-bottom: none; /* Remove the default border-bottom if any */
}
.title-cards p.active-title span {
    background-color: var(--or); /* Set the orange underline */
    width: calc(100% - 25px); /* Adjust padding for the underline */
}

.table-auto{
    margin-bottom:  40px ;
    td{
        border: 0.5px solid rgba(0, 0, 0, 0.321);
        padding: 10px;
       
        font-size: 14px;
       
    }
}
.curve{
    border: 0.5px solid rgba(128, 128, 128, 0.726);
    border-radius:0 25px  25px 0;
    border-left: none;
    padding-left: 15px;
}
