.side-details{
    height: 100%;
    justify-content: space-evenly;
}
.cl{
    width: 120px;
    p{
        font-size: 12px;
    }
}
.img-box{
    img{
        height: inherit;
        width: 100%;
        object-fit: contain;
    }
 
}