<div class="w-[180px] rounded-xl h-[540px] relative">
    <!-- Feathered overlay div -->
    <div
      class="absolute rounded-2xl top-0 left-0 w-full h-[200px] bg-gradient-to-b from-white to-transparent flex flex-col items-center justify-center z-10"
    >
      <p class="text-[20px]">watch.</p>
      <p class="text-[20px] font-semibold mr-[20px]">Learn.</p>
      <p class="text-[20px]">Grow.</p>
    </div>

    <!-- Background image -->
    <img
      class="w-full rounded-2xl  h-full object-cover"
      src="student.png"
      alt="student"
    />
  </div>