<div>
    <h2 class="font-semibold my-[20px] text-black text-[16px]">
        Module
        <span class="font-light">01: Managing people & organisations</span>
      </h2>
      <h2 class="font-semibold my-[5px] text-black text-[16px]">
        Primary <span class="font-light">Textbook</span>
      </h2>
      <ul
        class="list-disc pl-[30px] my-[20px] text-[14px] flex flex-col gap-[10px]"
      >
        <li>
          <p>
            <span class="text-gray-400">Title: </span>"Fundamentals of
            Management"
          </p>
        </li>
        <li>
          <p><span class="text-gray-400">Author: </span>Stephen Robbins</p>
        </li>
        <li>
          <p><span class="text-gray-400">Edition: </span>12th Edition</p>
        </li>
        <li>
          <p><span class="text-gray-400">Publisher: </span>Pearson</p>
        </li>
        <li>
          <p><span class="text-gray-400">ISBN: </span>978-0134237473</p>
        </li>
        <li>
          <p>
            <span class="text-gray-400">Description: </span>This textbook
            provides a thorough overview of management principles, including
            planning, organizing, leading, and controlling. It covers
            foundational theories and practical applications in business
            management.
          </p>
        </li>
      </ul>
      <h2 class="font-semibold my-[20px] text-black text-[16px]">
        Supplementary <span class="font-light">Articles :</span>
      </h2>
      <div
        class="h-[35px] w-[120px] my-[10px] bg-gray-200 justify-center flex items-center rounded-[30px]"
      >
        <span class="red-ball"></span>
        <p class="text-[14px]">
          Article:
          <span class="font-semibold text-[var(--or)]">1</span>
        </p>
      </div>
      <ul
        class="list-disc pl-[30px] my-[20px] text-[14px] flex flex-col gap-[10px]"
      >
        <li>
          <p>
            <span class="text-gray-400">Title: </span>"Fundamentals of
            Management"
          </p>
        </li>
        <li>
          <p><span class="text-gray-400">Author: </span>Stephen Robbins</p>
        </li>
        <li>
          <p><span class="text-gray-400">Edition: </span>12th Edition</p>
        </li>
        <li>
          <p><span class="text-gray-400">Publisher: </span>Pearson</p>
        </li>
        <li>
          <p><span class="text-gray-400">ISBN: </span>978-0134237473</p>
        </li>
        <li>
          <p>
            <span class="text-gray-400">Link: </span>
            <span class="text-blue-500 underline"
              >Harvard Business Review - The Role of a Manager</span
            >
          </p>
        </li>
      </ul>
      <div
        class="h-[35px] w-[120px] my-[10px] bg-gray-200 justify-center flex items-center rounded-[30px]"
      >
        <span class="red-ball"></span>
        <p class="text-[14px]">
          Article:
          <span class="font-semibold text-[var(--or)]">2</span>
        </p>
      </div>
      <ul
        class="list-disc pl-[30px] my-[20px] text-[14px] flex flex-col gap-[10px]"
      >
        <li>
          <p>
            <span class="text-gray-400">Title: </span>"Fundamentals of
            Management"
          </p>
        </li>
        <li>
          <p><span class="text-gray-400">Author: </span>Stephen Robbins</p>
        </li>
        <li>
          <p><span class="text-gray-400">Edition: </span>12th Edition</p>
        </li>
        <li>
          <p><span class="text-gray-400">Publisher: </span>Pearson</p>
        </li>
        <li>
          <p><span class="text-gray-400">ISBN: </span>978-0134237473</p>
        </li>
        <li>
          <p>
            <span class="text-gray-400">Link: </span>
            <span class="text-blue-500 underline"
              >Harvard Business Review - The Role of a Manager</span
            >
          </p>
        </li>
      </ul>
      <h2 class="font-semibold my-[20px] text-black text-[16px]">
        General
        <span class="font-light">Reading Tips:</span>
      </h2>
      <ul
        class="list-disc pl-[30px] my-[20px] text-[14px] flex flex-col gap-[10px]"
      >
        <li>
          <p>
            Engagement:"Engage with the reading materials by taking notes,
            highlighting key concepts, and reflecting on how they apply to
            real-world business scenarios."
          </p>
        </li>
        <li>
          <p>
            Discussion: "Participate in online discussions with your peers
            and instructors to share insights and deepen your
            understanding."
          </p>
        </li>
        <li>
          <p>
            Application: "Try to relate the theories and concepts to your
            own professional experiences or hypothetical business
            situations."
          </p>
        </li>
      </ul>
</div>