<div class="h-[300px] bg-white w-full rounded-lg ">
    <h2 class="font-semibold my-[5px] ml-[10px] text-black text-[20px]">
      In <span class="font-light">Progress</span>
    </h2>
    <!-- new -->
    <div style="display: none;" class="w-full h-[260px] grid grid-cols-[70%,30%]">
      <div class="pl-[10px] flex flex-col gap-[10px] mt-[20px]">
        <p>
          You haven't started any courses yet. Once you enroll in a
          course/module, you'll see your progress here.
        </p>
        <button
          class="h-[40px] text-[14px] border bg-[var(--db)] border-gray-400 justify-center w-[300px] flex items-center gap-1 text-white mt-[10px] rounded-[25px]">Browse
          Courses and Get Started <svg width="10" height="16" viewBox="0 0 10 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.76383 8.49844L1.27781 15.8099C1.13622 15.9319 0.948103 16 0.752481 16C0.556858 16 0.368743 15.9319 0.22715 15.8099L0.218013 15.8016C0.149133 15.7424 0.094286 15.6712 0.0568066 15.5923C0.0193272 15.5133 0 15.4283 0 15.3424C0 15.2565 0.0193272 15.1715 0.0568066 15.0925C0.094286 15.0136 0.149133 14.9424 0.218013 14.8832L8.20915 7.99862L0.218013 1.11681C0.149133 1.05764 0.094286 0.986415 0.0568066 0.907473C0.0193272 0.82853 0 0.743518 0 0.657608C0 0.571698 0.0193272 0.486687 0.0568066 0.407743C0.094286 0.328801 0.149133 0.257578 0.218013 0.198408L0.22715 0.190145C0.368743 0.0680895 0.556858 0 0.752481 0C0.948103 0 1.13622 0.0680895 1.27781 0.190145L9.76383 7.50156C9.83846 7.56586 9.89787 7.64319 9.93847 7.72887C9.97907 7.81455 10 7.90679 10 8C10 8.09321 9.97907 8.18545 9.93847 8.27113C9.89787 8.35681 9.83846 8.43415 9.76383 8.49844Z"
              fill="white" />
          </svg></button>
      </div>
      <div class="boy-bg">

      </div>
    </div>
    <!-- old -->

    <div
      class="overflow-y-scroll w-full h-[260px] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300"
    >
      <div
        class="flex mb-[10px] h-[120px] w-full pl-4 border-b border-gray-300"
      >
        <div class="w-[120px]">
          <img src="team1.png" alt="" srcset="" />
        </div>
        <div class="progress-card w-[75%]">
          <div class="flex items-center h-[60px] gap-[4px] pl-[10px]">
            <span
              class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--ma)]"
            ></span>
            <p class="text-wrap text-[13px] font-semibold capitalize">
              Diploma in Business Management
            </p>
          </div>
          <div class="flex justify-between flex-wrap items-center ml-[10px] w-full">
            <div class="flex items-center">
              <span class="red-ball"> </span>
              <p>Duration :</p>
              <span class="font-semibold flex gap-2 items-center"> 
                16:20
                <div class="relative size-8">
                  <svg
                    class="size-full -rotate-90"
                    viewBox="0 0 36 36"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-gray-200 dark:text-neutral-700"
                      stroke-width="2"
                    ></circle>
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-green-600 dark:text-green-500"
                      stroke-width="2"
                      stroke-dasharray="100"
                      stroke-dashoffset="65"
                      stroke-linecap="round"
                    ></circle>
                  </svg>

                  <div
                    class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  >
                    <span
                      class="text-center text-[12px] font-bold text-green-600 dark:text-green-500"
                      >70%</span
                    >
                  </div>
                </div>
              </span>
            </div>
            <p>Due date: <span class="font-semibold">10/6/2025</span></p>
            <p class="ml-[5px]">See all modules(16)</p>
          </div>
        </div>
      </div>
      <div
        class="flex mb-[10px] h-[120px] w-full pl-4 border-b border-gray-300"
      >
        <div class="w-[120px]">
          <img src="team2.png" alt="" srcset="" />
        </div>
        <div class="progress-card w-[75%]">
          <div class="flex items-center h-[60px] gap-[4px] pl-[10px]">
            <span
              class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--ma)]"
            ></span>
            <p class="text-wrap text-[13px] font-semibold capitalize">
              Diploma in Human Resources & Organizational Culture (WUC
              Level 9)
            </p>
          </div>
          <div class="flex justify-between flex-wrap items-center ml-[10px] w-full">
            <div class="flex items-center">
              <span class="red-ball"> </span>
              <p>Duration :</p>
              <span class="font-semibold flex items-center gap-2">
                16:20
                <div class="relative size-8">
                  <svg
                    class="size-full -rotate-90"
                    viewBox="0 0 36 36"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-gray-200 dark:text-neutral-700"
                      stroke-width="2"
                    ></circle>
                   
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-green-600 dark:text-green-500"
                      stroke-width="2"
                      stroke-dasharray="100"
                      stroke-dashoffset="65"
                      stroke-linecap="round"
                    ></circle>
                  </svg>

               
                  <div
                    class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  >
                    <span
                      class="text-center text-[12px] font-bold text-green-600 dark:text-green-500"
                      >70%</span
                    >
                  </div>
                </div>
              </span>
            </div>
            <p>Due date: <span class="font-semibold">10/6/2025</span></p>
            <p class="ml-[5px]">See all modules(16)</p>
          </div>
        </div>
      </div>
      <div
        class="flex mb-[10px] h-[120px] w-full pl-4 border-b border-gray-300"
      >
        <div class="w-[120px]">
          <img src="team2.png" alt="" srcset="" />
        </div>
        <div class="progress-card w-[75%]">
          <div class="flex items-center h-[60px] gap-[4px] pl-[10px]">
            <span
              class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--ma)]"
            ></span>
            <p class="text-wrap text-[13px] font-semibold capitalize">
              Diploma in Human Resources & Organizational Culture (WUC
              Level 9)
            </p>
          </div>
          <div class="flex justify-between flex-wrap items-center ml-[10px] w-full">
            <div class="flex items-center">
              <span class="red-ball"> </span>
              <p>Duration :</p>
              <span class="font-semibold flex gap-2 items-center">
                16:20
                <div class="relative size-8">
                  <svg
                    class="size-full -rotate-90"
                    viewBox="0 0 36 36"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-gray-200 dark:text-neutral-700"
                      stroke-width="2"
                    ></circle>
                   
                    <circle
                      cx="18"
                      cy="18"
                      r="16"
                      fill="none"
                      class="stroke-current text-green-600 dark:text-green-500"
                      stroke-width="2"
                      stroke-dasharray="100"
                      stroke-dashoffset="65"
                      stroke-linecap="round"
                    ></circle>
                  </svg>

               
                  <div
                    class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2"
                  >
                    <span
                      class="text-center text-[12px] font-bold text-green-600 dark:text-green-500"
                      >70%</span
                    >
                  </div>
                </div>
              </span>
            </div>
            <p>Due date: <span class="font-semibold">10/6/2025</span></p>
            <p class="ml-[5px]">See all modules(16)</p>
          </div>
        </div>
      </div>
    </div>
  </div>