<app-header></app-header>
<div class="px-[10px]">
  <div class="flex w-full mt-[110px] gap-[15px]">
    <div class="min-w-[240px]">
      <app-sidebar></app-sidebar>
    </div>
    <div class="min-w-[calc(100% - 280px)] mt-[8px] w-full">
      <section class="w-full flex gap-[10px]">
        <div class="w-[70%] h-auto box-content py-[20px] bg-white rounded-lg">
          <div
            class="bg-[var(--ma)] flex items-center justify-between my-[5px] h-[40px] p-[8px] w-full"
          >
            <h2 class="font-semibold flex items-center text-white text-[16px]">
              Assessment <span class="font-light ml-[4px]">Task</span>
            </h2>
            <ol class="list-disc text-white text-[14px]">
              <li class="">
                Due Date: <span class="font-semibold">27/08/2024</span>
              </li>
            </ol>
          </div>
          <div class="px-[10px]">
            <div class="flex items-center h-[60px] gap-[4px]">
              <span
                class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--ma)]"
              ></span>
              <p class="text-[14px] font-semibold">
                Personal and Professional Development Through Inclusive Practice
              </p>
            </div>
            <p class="text-[var(--ma)] font-semibold">Question</p>
            <ul class="list-[numeric]">
              <p class="text-[13px] pl-[20px]">
                1. In your own words, explain how inclusive practice in digital
                marketing can improve customer engagement and brand loyalty.
                Provide at least three specific examples from real-world
                scenarios or hypothetical situations to support your
                explanation.
              </p>
            </ul>
            <p class="text-[var(--ma)] mt-[40px] font-semibold">
              Instructions:
            </p>
            <ul class="list-disc text-[13px] ml-[20px]">
              <li>Write a comprehensive response of at least 500 words.</li>
              <li>
                Use relevant theories and concepts discussed in the course.
              </li>
              <li>
                Include real-world examples or hypothetical scenarios to
                illustrate your points.
              </li>
              <li>
                Make sure your answer is well-organized and clearly articulated.
              </li>
              <li>
                You can use the text editor provided to compose your response
                directly on the site.
              </li>
              <li>
                Please submit your response before the timer runs out. The timer
                is located at the top of the page.
              </li>
            </ul>
            <textarea
              class="w-full h-[250px] mt-[20px] border border-gray-500"
              name=""
              id=""
            ></textarea>
            <div class="w-full flex gap-4 items-end justify-end">
              <button (click)="openPopup2()"
                class="h-[40px] text-[14px] border border-gray-400 justify-center w-[120px] flex items-center gap-1 text-black mt-[10px] rounded-[25px]"
              >
                Save Draft
              </button>
              <button (click)="openPopup()"
                class="h-[40px] text-[14px] border bg-[var(--ma)] border-gray-400 justify-center w-[120px] flex items-center gap-1 text-white mt-[10px] rounded-[25px]"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
        <app-notes-and-observations class="w-[30%]" ></app-notes-and-observations>

      </section>
    </div>
  </div>
</div>

<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" *ngIf="showPopup2">
  <div class="relative bg-white rounded-lg shadow-lg w-[557px] ">
      <button class="absolute top-0 left-[104%] text-gray-400 hover:text-gray-600 focus:outline-none"
          (click)="handleCancel2()" aria-label="Close">
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 10L27 27M10 27L27 10" stroke="white" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              <circle cx="18.5" cy="18.5" r="17.5" stroke="white" stroke-width="2" />
          </svg>
      </button>
      <h2 class="font-bold mt-10 w-full bg-[#DE4A2C] text-white pl-10 text-[44px]">Attention</h2>
      <div class="flex gap-4 items-center pl-10 mt-4">
          <p class="w-1 h-5 rounded-t-full rounded-b-full bg-[#DE4A2C]"></p>
          <p class="text-[24px]">Draft saved successfully</p>
      </div>
      <div class="pl-10 mt-4">
          <p class="text-[#535353] text-[16px] pr-12">Please ensure to complete this assessment before the final submission for review. You can revisit previous videos but cannot proceed further until the assessment is completed.</p>
      </div>

      <div class="w-full flex justify-center mt-10 mb-10 gap-7">
          <button class="px-5 py-3 border border-[#DE4A2C] rounded-full text-[#DE4A2C]">Review Previous Videos</button>
          <button class="px-5 py-3 rounded-full text-white bg-[#DE4A2C]">Return to Assessment</button>
      </div>

  </div>
</div>

<div class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" *ngIf="showPopup">
  <div class="relative bg-white rounded-lg shadow-lg w-[557px] ">
      <button class="absolute top-0 left-[104%] text-gray-400 hover:text-gray-600 focus:outline-none"
          (click)="handleCancel()" aria-label="Close">
          <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 10L27 27M10 27L27 10" stroke="white" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              <circle cx="18.5" cy="18.5" r="17.5" stroke="white" stroke-width="2" />
          </svg>
      </button>
      <h2 class="font-bold mt-10 w-full bg-[#1C2745] text-white pl-10 text-[44px]">Heads-Up</h2>
      <div class="flex gap-4 items-center pl-10 mt-4">
          <p class="w-1 h-5 rounded-t-full rounded-b-full bg-[#1C2745]"></p>
          <p class="text-[24px]">Confirm Submission</p>
      </div>
      <div class="pl-10 mt-4">
          <p class="text-[#535353] text-[16px] pr-12">You are about to submit your Assessment. Please review your answers before submitting, as you won't be able to make changes afterward.</p>
      </div>

      <div class="w-full flex justify-center mt-10 mb-10 gap-7">
          <button class="px-5 py-3 border border-[#1C2745] rounded-full text-[#1C2745]">Yes, Submit</button>
          <button class="px-5 py-3 rounded-full text-white bg-[#1C2745]">No, Review Answers</button>
      </div>

  </div>
</div>

<app-footer></app-footer>