<div class="w-full  h-full bg-white flex rounded-md">
    <div
      class="w-[145px] flex flex-col items-center justify-center gap-[10px]"
    >
      <img src="profile.svg" alt="" />
      <span class="bg-[var(--db)] text-white px-[5px] rounded-md">
        <p>ID No:1456</p></span
      >
    </div>
    <div
      class="w-[calc(100%-80px)] flex flex-col items-start justify-center gap-[10px]"
    >
      <h2 class="text-[22px] font-semibold text-[var(--gr)]">
        Good Morning <span class="text-[var(--db)]">Alex Roy</span>
      </h2>
      <p class="text-black font-[500]">
        HND Leading to BSc (Hons) Business with International Business
        Management - LJM
      </p>
    </div>
  </div>