<div class="h-[300px] bg-white w-full rounded-lg ">
    <h2 class="font-semibold my-[5px] ml-[10px] text-black text-[20px]">
      Continue <span class="font-light">Watching</span>
    </h2>
    <div class="hidden flex mb-[10px] h-full w-full pl-4 border-b border-gray-300">
      <div class="w-full h-[260px] grid grid-cols-[50%,50%]">
        <div class="pl-2 flex flex-col gap-[10px] mt-[20px]">
          <p>
            No learning outcomes in progress.
          </p>
          <p>Start watching, and your paused content will appear here for easy resumption.</p>

        </div>
        <div class="sit-bg">

        </div>
      </div>
    </div>
    <!-- old -->
    <div class=" flex mb-[10px] h-full w-full pl-4 border-b border-gray-300">
      <div class="w-[60%] flex justify-center">
        <img style="height: 225px; object-fit: cover" src="yt.png" alt="" srcset="" />
      </div>
      <div class="progress-card w-[40%]">
        <div class="flex items-center h-[80px] gap-[4px] pl-[10px]">
          <span class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--ma)]"></span>
          <p class="text-wrap text-[13px]  capitalize">
            Introduction to HR Management
          </p>
        </div>
        <div class="h-[60%] ml-[10px] w-full flex flex-col justify-evenly">
          <div class="flex items-center">
            <span class="red-ball"> </span>
            <p>
              Due Date : <span class="font-semibold">12/12/2025</span>
            </p>
          </div>
          <div class="flex items-center justify-between w-[90%]">
            <div class="flex items-center">
              <span class="red-ball"> </span>
              <p>Progress :</p>
            </div>

            <span class="font-semibold">12.50</span>
          </div>
          <div class="w-[80%] bg-gray-200 rounded-full h-[5px] ">
            <div class="bg-[var(--ma)] h-[5px] rounded-full dark:bg-[var(--ma)]" style="width: 45%"></div>
          </div>
          <button
            class="bg-[var(--ma)] h-[30px] w-[120px] text-[13px] justify-center rounded-[35px] text-white flex items-center gap-[10px]">
            Resume
            <svg width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0 2.86757C0 1.24444 1.83152 0.297326 3.15603 1.23552L9.69593 5.86795C10.8212 6.66503 10.8212 8.33497 9.69593 9.13205L3.15603 13.7645C1.83152 14.7027 0 13.7556 0 12.1324V2.86757Z"
                fill="white" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>