<div class="w-full h-[500px] 2xl:flex-1">
    <div class="my-[13px] flex items-center h-[40px]">
      <p class="font-normal text-[20px] ">Upcoming Milestones</p>
      <select class="black-select" id="">
        <option value="">
          Diploma in Digital Marketing at WUC level 8
        </option>
        <option value="">Project Mangement</option>
      </select>
    </div>

    <div
      class="w-full p-5 relative flex flex-col justify-between h-[410px]  bg-[var(--db)] rounded-lg"
    >
    <!-- new -->
      <div
        class=" rounded-xl bg-white h-[400px] "
      >
      <div class="pl-8 pt-8">
        <h2 class="font-semibold text-xl">Once you Start a Course,
         </h2>
         <p>this section will show your upcoming submissions and progress updates.</p>
      </div>
      <div class="chart-bg">

      </div>
      </div>
      <!-- old -->
      <!-- <div
        class="whitespace-nowrap h-[400px] flex-row overflow-x-scroll gap-[20px] [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
      >
        <div
          class="bg-white pb-[20px] inline-flex flex-col mr-[20px] rounded-[20px] justify-evenly w-[280px] pt-[10px] h-[360px]"
        >
          <div class="bg-black w-[80%] pl-[20px]">
            <p class="text-white">Course</p>
          </div>
          <p class="pl-[20px] text-wrap text-[13px]">
            Diploma in Digital Marketing at WUC level 8
          </p>
          <div class="pl-[20px]">
            <p class="font-semibold text-[var(--gr)]">
              Module: <span class="text-[var(--or)]">BBE</span>
            </p>
            <span
              _ngcontent-ng-c1914256788
              class="block h-[2px] w-full bg-[var(--lgr)]"
            ></span>
          </div>
          <div class="flex items-center h-[60px] gap-[4px] pl-[20px]">
            <span
              class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--or)]"
            ></span>
            <p
              class="text-wrap text-[13px] text-[14px] font-semibold capitalize"
            >
              Business and the business Environment
            </p>
          </div>
          <div>
            <ol class="pl-[20px] h-full flex flex-col justify-around">
              <li class="text-[13px] flex items-center">
                Course Earned :
                <span class="font-semibold">
                  <div class="relative size-8">
                    <svg
                      class="size-full -rotate-90"
                      viewBox="0 0 36 36"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                 
                      <circle
                        cx="18"
                        cy="18"
                        r="16"
                        fill="none"
                        class="stroke-current text-gray-200 dark:text-neutral-700"
                        stroke-width="2"
                      ></circle>
                    
                      <circle
                        cx="18"
                        cy="18"
                        r="16"
                        fill="none"
                        class="stroke-current text-green-600 dark:text-green-500"
                        stroke-width="2"
                        stroke-dasharray="100"
                        stroke-dashoffset="65"
                        stroke-linecap="round"
                      ></circle>
                    </svg>

                  
                    <div
                      class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2"
                    >
                      <span
                        class="text-center text-[12px] font-bold text-green-600 dark:text-green-500"
                        >70%</span
                      >
                    </div>
                  </div>
                </span>
              </li>
              <li class="text-[13px]">
                Duration : <span class="font-semibold">3 Months</span>
              </li>
              <li class="text-[13px]">
                Start date : <span class="font-semibold">01/2024</span>
              </li>
              <li class="text-[13px]">
                End Date : <span class="font-semibold">-</span>
              </li>
            </ol>
          </div>
          <div class="w-full grid grid-cols-2 grade">
            <div>
              <p>Grade:</p>
              <span>Pending</span>
            </div>
            <div class="flex flex-col mleft">
              <p>Status:</p>
              <span>in Progress</span>
            </div>
          </div>
        </div>
        <div
          class="bg-white pb-[20px] inline-flex flex-col mr-[20px] rounded-[20px] justify-evenly w-[280px] pt-[10px] h-[360px]"
        >
          <div class="bg-black w-[80%] pl-[20px]">
            <p class="text-white">Course</p>
          </div>
          <p class="pl-[20px] text-wrap text-[13px]">
            Diploma in Digital Marketing at WUC level 8
          </p>
          <div class="pl-[20px]">
            <p class="font-semibold text-[var(--gr)]">
              Module: <span class="text-[var(--or)]">BBE</span>
            </p>
            <span
              _ngcontent-ng-c1914256788
              class="block h-[2px] w-full bg-[var(--lgr)]"
            ></span>
          </div>
          <div class="flex items-center h-[60px] gap-[4px] pl-[20px]">
            <span
              class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--or)]"
            ></span>
            <p
              class="text-wrap text-[13px] text-[14px] font-semibold capitalize"
            >
              Business and the business Environment
            </p>
          </div>
          <div>
            <ol class="pl-[20px] h-full flex flex-col justify-around">
              <li class="text-[13px] flex items-center">
                Course Earned :
                <span class="font-semibold">
                  <div class="relative size-8">
                    <svg
                      class="size-full -rotate-90"
                      viewBox="0 0 36 36"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                 
                      <circle
                        cx="18"
                        cy="18"
                        r="16"
                        fill="none"
                        class="stroke-current text-gray-200 dark:text-neutral-700"
                        stroke-width="2"
                      ></circle>
                    
                      <circle
                        cx="18"
                        cy="18"
                        r="16"
                        fill="none"
                        class="stroke-current text-green-600 dark:text-green-500"
                        stroke-width="2"
                        stroke-dasharray="100"
                        stroke-dashoffset="65"
                        stroke-linecap="round"
                      ></circle>
                    </svg>

                  
                    <div
                      class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2"
                    >
                      <span
                        class="text-center text-[12px] font-bold text-green-600 dark:text-green-500"
                        >70%</span
                      >
                    </div>
                  </div>
                </span>
              </li>
              <li class="text-[13px]">
                Duration : <span class="font-semibold">3 Months</span>
              </li>
              <li class="text-[13px]">
                Start date : <span class="font-semibold">01/2024</span>
              </li>
              <li class="text-[13px]">
                End Date : <span class="font-semibold">-</span>
              </li>
            </ol>
          </div>
          <div class="w-full grid grid-cols-2 grade">
            <div>
              <p>Grade:</p>
              <span>Pending</span>
            </div>
            <div class="flex flex-col mleft">
              <p>Status:</p>
              <span>in Progress</span>
            </div>
          </div>
        </div>
        <div
          class="bg-white pb-[20px] inline-flex flex-col mr-[20px] rounded-[20px] justify-evenly w-[280px] pt-[10px] h-[360px]"
        >
          <div class="bg-black w-[80%] pl-[20px]">
            <p class="text-white">Course</p>
          </div>
          <p class="pl-[20px] text-wrap text-[13px]">
            Diploma in Digital Marketing at WUC level 8
          </p>
          <div class="pl-[20px]">
            <p class="font-semibold text-[var(--gr)]">
              Module: <span class="text-[var(--or)]">BBE</span>
            </p>
            <span
              _ngcontent-ng-c1914256788
              class="block h-[2px] w-full bg-[var(--lgr)]"
            ></span>
          </div>
          <div class="flex items-center h-[60px] gap-[4px] pl-[20px]">
            <span
              class="block h-[calc(100%-30px)] rounded-sm w-[4px] bg-[var(--or)]"
            ></span>
            <p
              class="text-wrap text-[13px] text-[14px] font-semibold capitalize"
            >
              Business and the business Environment
            </p>
          </div>
          <div>
            <ol class="pl-[20px] h-full flex flex-col justify-around">
              <li class="text-[13px] flex items-center">
                Course Earned :
                <span class="font-semibold">
                  <div class="relative size-8">
                    <svg
                      class="size-full -rotate-90"
                      viewBox="0 0 36 36"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                 
                      <circle
                        cx="18"
                        cy="18"
                        r="16"
                        fill="none"
                        class="stroke-current text-gray-200 dark:text-neutral-700"
                        stroke-width="2"
                      ></circle>
                    
                      <circle
                        cx="18"
                        cy="18"
                        r="16"
                        fill="none"
                        class="stroke-current text-green-600 dark:text-green-500"
                        stroke-width="2"
                        stroke-dasharray="100"
                        stroke-dashoffset="65"
                        stroke-linecap="round"
                      ></circle>
                    </svg>

                  
                    <div
                      class="absolute top-1/2 start-1/2 transform -translate-y-1/2 -translate-x-1/2"
                    >
                      <span
                        class="text-center text-[12px] font-bold text-green-600 dark:text-green-500"
                        >70%</span
                      >
                    </div>
                  </div>
                </span>
              </li>
              <li class="text-[13px]">
                Duration : <span class="font-semibold">3 Months</span>
              </li>
              <li class="text-[13px]">
                Start date : <span class="font-semibold">01/2024</span>
              </li>
              <li class="text-[13px]">
                End Date : <span class="font-semibold">-</span>
              </li>
            </ol>
          </div>
          <div class="w-full grid grid-cols-2 grade">
            <div>
              <p>Grade:</p>
              <span>Pending</span>
            </div>
            <div class="flex flex-col mleft">
              <p>Status:</p>
              <span>in Progress</span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <span class="inline-flex items-center mt-[10px] h-[30px] text-white text-[13px] w-auto  px-[20px] rounded-xl gap-[10px] bg-black capitalize"> view all courses <svg width="124" height="20" viewBox="0 0 124 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10C0 9.57958 0.166634 9.17638 0.463257 8.8791C0.75988 8.58182 1.16219 8.41481 1.58167 8.41481L118.103 8.41481L112.366 2.66585C112.087 2.36535 111.935 1.9679 111.942 1.55723C111.949 1.14655 112.115 0.754726 112.405 0.464292C112.695 0.173858 113.086 0.0074928 113.496 0.000246966C113.905 -0.00699887 114.302 0.14544 114.602 0.425448L123.037 8.8798C123.334 9.17702 123.5 9.57992 123.5 10C123.5 10.4201 123.334 10.823 123.037 11.1202L114.602 19.5745C114.302 19.8546 113.905 20.007 113.496 19.9998C113.086 19.9925 112.695 19.8261 112.405 19.5357C112.115 19.2453 111.949 18.8534 111.942 18.4428C111.935 18.0321 112.087 17.6346 112.366 17.3342L118.103 11.5852L1.58167 11.5852C1.16219 11.5852 0.75988 11.4182 0.463257 11.1209C0.166634 10.8236 0 10.4204 0 10Z" fill="white"/>
      </svg>
      </span>
  </div>