<div style="display: none;"
class="w-full px-[10px] h-full rounded-md justify-between bg-[var(--dgr)] flex flex-col crs-card"
>
<div>
  <h2 class="font-semibold text-white text-[20px]">
    Course
    <span style="font-size: 20px" class="font-thin">progress</span>
  </h2>
</div>
<div class="flex items-center gap-[4px]">
  <span class="block h-[15px] w-[4px] bg-[var(--or)]"></span>
  <p class="text-white text-[13px]">
    No Courses Yet
  </p>
</div>
<div class="flex h-[60px] justify-between items-center">
  <div class="flex opacity-0 flex-col justify-evenly h-full">
    <p><span class="font-semibold">20%</span> Complete</p>
    <div
      class="w-full bg-gray-200 rounded-full h-[5px] "
    >
      <div
        class="bg-red-600 h-[5px] rounded-full dark:bg-red-500"
        style="width: 45%"
      ></div>
    </div>
    <p class="font-light opacity-0">
      Days Remaining :<span class="font-semibold">15</span>
    </p>
  </div>
  <span class="block opacity-0 h-[calc(100%-10px)] w-[1px] bg-[var(--lgr)]">
  </span>
  <div class="relative h-full">
    <p class="opacity-0">Next step :<span class="font-semibold">MCQ</span></p>
    <div class="og-2">
      <p>Explore Courses</p>
    </div>
  </div>
</div>
</div>
<!-- withdata -->
      <div 
          class="w-full  px-[10px] h-full rounded-md justify-between bg-[var(--dgr)] flex flex-col crs-card"
        >
          <div>
            <h2 class="font-semibold text-white text-[20px]">
              Course
              <span style="font-size: 20px" class="font-thin">progress</span>
            </h2>
          </div>
          <div class="flex items-center gap-[4px]">
            <span class="block h-[15px] w-[4px] bg-[var(--or)]"></span>
            <p class="text-white text-[13px]">
              Diploma in Digital Marketing at WUC level 8
            </p>
          </div>
          <div class="flex h-[60px] justify-between items-center">
            <div class="flex flex-col justify-evenly h-full">
              <p><span class="font-semibold">20%</span> Complete</p>
              <div
                class="w-full bg-gray-200 rounded-full h-[5px] "
              >
                <div
                  class="bg-red-600 h-[5px] rounded-full dark:bg-red-500"
                  style="width: 45%"
                ></div>
              </div>
              <p class="font-light">
                Days Remaining :<span class="font-semibold">15</span>
              </p>
            </div>
            <span class="block h-[calc(100%-10px)] w-[1px] bg-[var(--lgr)]">
            </span>
            <div class="relative h-full left-[-20px]">
              <p>Next step :<span class="font-semibold">MCQ</span></p>
              <div class="og-box">
                <p>Start now</p>
              </div>
            </div>
          </div>
        </div>