<app-header></app-header>

<div class="px-[10px]">
  <div class="flex w-full mt-[110px] gap-[15px]">
    <div class="min-w-[240px]">
      <app-sidebar></app-sidebar>
    </div>
    <div class="min-w-[calc(100% - 280px)] w-full">
      <!-- cards-container  upper section-->
      <section class="h-[320px] xl:flex-row  gap-[10px] flex items-center w-full">
        <!-- progress course -->
        <app-enrolled-course-detail class=" flex-grow-[1.8] "></app-enrolled-course-detail>
     
        <!-- video -->
        <app-resume-learning class="flex-grow-[1.2] "></app-resume-learning>
      </section>
      <!-- course box lower section -->
      <section class="xl:flex-col sm:flex-col gap-[10px] flex w-full">
        <div class="title-cards ">
          @for (item of titles; track $index) {
            <p (click)="activeTitle = item" [class.active-title]="activeTitle == item" >
              {{item}}
              <span></span>
            </p>
          }
         
         
        </div>
        <app-recommended-courses></app-recommended-courses>
       
      </section>
    </div>
  </div>
</div>

<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center z-50 " *ngIf="showPopup">
  <div class="relative bg-white rounded-lg shadow-lg w-[50%] ml-[14%] max-h-[90%] overflow-x-auto">
    <button class="absolute top-4 left-[104%] text-gray-400 hover:text-gray-600 focus:outline-none"
      (click)="handleCancel()" aria-label="Close">
      <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 10L27 27M10 27L27 10" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
        <circle cx="18.5" cy="18.5" r="17.5" stroke="white" stroke-width="2" />
      </svg>
    </button>
    <h2 class="mt-10 w-full bg-[#1C2745] text-white pl-10 text-[44px]">About</h2>
    <div class="flex gap-4 items-center pl-10 mt-4">
      <p class="w-1 h-12 rounded-t-full rounded-b-full bg-[#8C2036]"></p>
      <p class="text-[24px] w-[40%]">Diploma in Digital Marketing at SCQF level 8</p>
    </div>
    <div class="pl-10 mt-8 flex items-center gap-2">
      <p class="w-[10px] h-[10px] bg-[#8C2036] rounded-[50%]"></p>
      <p>Duration: <span class="font-bold">3 Months</span></p>
    </div>

    <div class="pl-10 mt-2 flex items-center gap-2">
      <p class="w-[10px] h-[10px] bg-[#8C2036] rounded-[50%]"></p>
      <p>Credits: <span class="font-bold">45</span></p>
    </div>

    <div class="pl-10 mt-2 flex items-center gap-2">
      <p class="w-[10px] h-[10px] bg-[#8C2036] rounded-[50%]"></p>
      <p>Modules:: <span class="font-bold">2</span></p>
    </div>

    <div class="pl-10 mt-2 flex items-center gap-2">
      <p class="w-[10px] h-[10px] bg-[#8C2036] rounded-[50%]"></p>
      <p>Level: <span class="font-bold">SCQF Level 8</span></p>
    </div>

    <p class="pl-10 mt-10 w-[90%] text-[#535353] text-[16px]">With the advent of technology and the age of
      digitalisation, it has become essential for professionals at both, entry as well as expert levels to be equipped
      with the knowledge and skills of digital marketing. Which include, but are not limited to, Social Media Marketing,
      Google Advertisements and Analytics and Search Engine Optimisation.</p>
    <p class="pl-10 mt-6 w-[90%] text-[#535353] text-[16px]">With the advent of technology and the age of
      digitalisation, it has become essential for professionals at both, entry as well as expert levels to be equipped
      with the knowledge and skills of digital marketing. Which include, but are not limited to, Social Media Marketing,
      Google Advertisements and Analytics and Search Engine Optimisation.</p>
    <p class="pl-10 mt-6 w-[90%] text-[#535353] text-[16px]">With the advent of technology and the age of
      digitalisation, it has become essential for professionals at both, entry as well as expert levels to be equipped
      with the knowledge and skills of digital marketing. Which include, but are not limited to, Social Media Marketing,
      Google Advertisements and Analytics and Search Engine Optimisation.</p>

    <h1 class="w-full bg-[#D9D9D9] mt-5 p-2 pl-10 text-[24px]">Course Structure</h1>

    <div class="mt-5 pl-10">
      <p class="text-[20px] text-[#1C2745]">Core Modules</p>
      <p class="h-[4px] w-[40px] rounded-l-full rounded-r-full  bg-[#1C2745]"></p>
    </div>

    <div class="w-[80%] mt-10 m-auto flex justify-between">
      <h1>Module List</h1>
      <h1>Credits</h1>
    </div>

    <div class="w-[85%] mt-10 m-auto border border-[#E6E6E6] rounded-lg flex justify-between">
      <div class="mt-4 flex justify-between">
        <p class="flex gap-2">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="7" cy="7" r="7" fill="#8C2036" />
            <path
              d="M5.15296 10.8239C5.05502 10.7111 5 10.5582 5 10.3987C5 10.2392 5.05502 10.0863 5.15296 9.97348L7.73897 6.99637L5.15296 4.01926C5.0578 3.90583 5.00514 3.7539 5.00633 3.59621C5.00752 3.43851 5.06246 3.28767 5.15932 3.17616C5.25619 3.06464 5.38722 3.00139 5.5242 3.00002C5.66117 2.99865 5.79314 3.05927 5.89167 3.16883L8.84704 6.57115C8.94498 6.68394 9 6.83689 9 6.99637C9 7.15585 8.94498 7.3088 8.84704 7.42158L5.89167 10.8239C5.7937 10.9367 5.66084 11 5.52232 11C5.38379 11 5.25093 10.9367 5.15296 10.8239Z"
              fill="white" />
          </svg>
          Marketing Principles
        </p>
        <p></p>
      </div>
    </div>

  </div>
</div>


<app-footer></app-footer>