<app-header></app-header>

<div class="px-[10px]">
  <div class="flex w-full mt-[110px] gap-[15px]">
    <div class="min-w-[240px]">
      <app-sidebar></app-sidebar>
    </div>
    <div class="min-w-[calc(100% - 280px)] w-full">
      <!-- cards-container  upper section-->
      <section class="h-[320px] xl:flex-row  gap-[10px] flex items-center w-full">
        <!-- progress course -->
        <app-enrolled-course-detail class=" flex-grow-[1.8] "></app-enrolled-course-detail>

        <!-- video -->
        <app-resume-learning class="flex-grow-[1.2] "></app-resume-learning>
      </section>
      <!-- course box lower section -->
      <section class="xl:flex-col sm:flex-col gap-[10px] flex w-full">
        <div class="title-cards ">
          @for (item of titles; track $index) {
            <p (click)="activeTitle = item" [class.active-title]="activeTitle == item" >
              {{item}}
              <span></span>
            </p>
          }
         
         
        </div>
        <app-recommended-courses></app-recommended-courses>

      </section>
    </div>
  </div>
</div>



<app-footer></app-footer>